# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
media/devices/example_1p16DEw.jpg
media/devices/example_3AIWYG4.jpg
media/devices/example_3n5Kpj8.jpg
media/devices/example_6TloTrm.jpg
media/devices/example_9qhxaLT.jpg
media/devices/example_9YFGJdZ.jpg
media/devices/example_9Z2qm8m.jpg
media/devices/example_74n7Gyo.jpg
media/devices/example_BXlq9x5.jpg
media/devices/example_DwqTJNi.jpg
media/devices/example_E7EmmBY.jpg
media/devices/example_GVBp7Bp.jpg
media/devices/example_I4g85RY.jpg
media/devices/example_IsOk4n6.jpg
media/devices/example_iUolEyq.jpg
media/devices/example_iYO3rhK.jpg
media/devices/example_L9EDlnx.jpg
media/devices/example_LJojeuj.jpg
media/devices/example_Lw5EJk5.jpg
media/devices/example_MbOL5JE.jpg
media/devices/example_mjDFbpe.jpg
media/devices/example_njcKsDC.jpg
media/devices/example_q2Oay4y.jpg
media/devices/example_QCZd8Wl.jpg
media/devices/example_rAfIYNv.jpg
media/devices/example_TkJZZEX.jpg
media/devices/example_uTkFu9t.jpg
media/devices/example_UusuYgV.jpg
media/devices/example_VTPxMEs.jpg
media/devices/example_W8Rxg61.jpg
media/devices/example_wifgYbr.jpg
media/devices/example_Wl1Bp3g.jpg
media/devices/example_YellN15.jpg
media/devices/example_YLsfrWe.jpg
media/devices/example_YuFvOza.jpg
media/devices/example_zkomcLl.jpg
media/devices/valid_image_jpKrYCq.jpg
media/devices/valid_image_oU76nF4.jpg
media/products/example_6na5YtP.jpg
media/products/example_bCN6rcG.jpg
media/products/example_C1jXsMw.jpg
media/products/example_CiNnZHw.jpg
media/products/example_CPtvYO3.jpg
media/products/example_dIsI4XH.jpg
media/products/example_DMQIg6e.jpg
media/products/example_F9P3gKX.jpg
media/products/example_FDSTH5I.jpg
media/products/example_g4JAj48.jpg
media/products/example_H28gBXL.jpg
media/products/example_HjGSN8k.jpg
media/products/example_iudXabt.jpg
media/products/example_Ja0ZkOh.jpg
media/products/example_jdPpUMa.jpg
media/products/example_K9M8uLr.jpg
media/products/example_KKxWevc.jpg
media/products/example_kvFoag6.jpg
media/products/example_LcKef73.jpg
media/products/example_o5dxaLc.jpg
media/products/example_OBd5hoJ.jpg
media/products/example_qVDGBiO.jpg
media/products/example_RWaayAB.jpg
media/products/example_T1FGyhY.jpg
media/products/example_t6pu6km.jpg
media/products/example_VcFADRP.jpg
media/products/example_w5gpiz4.jpg
media/products/example_wLMVczC.jpg
media/products/example_XzJH7pa.jpg
media/products/example_zFQlyMq.jpg
media/products/example_zhp6qWd.jpg
media/products/example_zSTbCvS.jpg
media/products/valid_image_HLe83vU.jpg
media/products/valid_image_mXIMu2y.jpg
coverage.ini
media/devices/example_7h3TvBW.jpg
media/devices/example_7Hztc9K.jpg
media/devices/example_73HOrzo.jpg
media/devices/example_bxdqNmQ.jpg
media/devices/example_chh01PT.jpg
media/devices/example_ClupHkC.jpg
media/devices/example_Fx5MTTl.jpg
media/devices/example_g5jZFNm.jpg
media/devices/example_gcTUeA2.jpg
media/devices/example_IFoQNJl.jpg
media/devices/example_jDs6u3m.jpg
media/devices/example_kM48eqE.jpg
media/devices/example_lNB643K.jpg
media/devices/example_M8OrWtU.jpg
media/devices/example_mM9gc1f.jpg
media/devices/example_MMiJj4U.jpg
media/devices/example_nQaEBIF.jpg
media/devices/example_NTh9dBH.jpg
media/devices/example_nX4nncT.jpg
media/devices/example_Nxu8EC9.jpg
media/devices/example_P4pUlS8.jpg
media/devices/example_pB73mdn.jpg
media/devices/example_pn6fzwJ.jpg
media/devices/example_PUnnq6y.jpg
media/devices/example_QrrNZyw.jpg
media/devices/example_qydIeKX.jpg
media/devices/example_RX85CoH.jpg
media/devices/example_SNJFAFe.jpg
media/devices/example_Us8peFX.jpg
media/devices/example_VFcPkL9.jpg
media/devices/example_WHrRA4j.jpg
media/devices/example_YDAvV2F.jpg
media/devices/example_z5KRfWH.jpg
media/devices/example_z9aNEqH.jpg
media/devices/example_zbWgLXE.jpg
media/devices/example_zEhrNTX.jpg
media/devices/valid_image_P5L2b61.jpg
media/devices/valid_image_rITO4Jd.jpg
media/products/example_0ziFnit.jpg
media/products/example_2o4mS0P.jpg
media/products/example_2QlwdIH.jpg
media/products/example_5jOYEi5.jpg
media/products/example_8rU0fNZ.jpg
media/products/example_41QM1rt.jpg
media/products/example_aGPaGqg.jpg
media/products/example_ArbgIUd.jpg
media/products/example_BFIk92N.jpg
media/products/example_BK3N0RW.jpg
media/products/example_d9xh8w6.jpg
media/products/example_DCybsF7.jpg
media/products/example_dPhpIWb.jpg
media/products/example_fCA0S3s.jpg
media/products/example_fOZ7J6l.jpg
media/products/example_HB2OrRT.jpg
media/products/example_Hl4YBoz.jpg
media/products/example_iZd3DiO.jpg
media/products/example_kfnIdXx.jpg
media/products/example_kZxMBxP.jpg
media/products/example_mA1dITz.jpg
media/products/example_o9oLGKk.jpg
media/products/example_p6SP87R.jpg
media/products/example_TzqhFs9.jpg
media/products/example_u0fHSmq.jpg
media/products/example_UQHgHGL.jpg
media/products/example_VVxGyse.jpg
media/products/example_wwZyOwf.jpg
media/products/example_X2mq2oT.jpg
media/products/example_ynzVL3V.jpg
media/products/example_Zb4vi7L.jpg
media/products/example_ztv5Zvo.jpg
media/products/valid_image_lLOwxtV.jpg
media/products/valid_image_qxn1UdY.jpg
cart.zip
enigma_api_project.zip
